* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: repeating-conic-gradient(blue 25%, yellow 35%);
  width: 100%;
}

.titulos {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to right, rgb(223, 226, 23), rgb(122, 24, 40));
  padding: 5px;
}


ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  cursor: pointer;
  margin: 5px 5px;
}

li {
  border: 2px solid blue;
  list-style: none;
  padding: 20px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgba(61, 209, 122, 0.733);
  text-align: center;
  box-shadow: 5px 10px 5px rgba(197, 5, 5, 0.74);
  transition: transform 0.3s ease;
  box-shadow: 0.3s ease;
}

li:hover {
  transform: translateY(-10px);

}

img {
  border-radius: 50%;
  width: 100%;
}

.container {
  display: flex;
  font-family: 'Times New Roman', Times, serif;

  margin-top: 20px;
  margin-bottom: 25px;
  gap: 5px;
  justify-content: center;
}

button {
  height: 50px;
  width: 80px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: aqua;

}

@media screen and (min-width: 600px) {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (min-width: 1024px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }

}